.container {
    margin-top: 20px;
}

h1 {
    color: #563d7c;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    background-color: #fff;
    border-radius: 5px;
}

.table thead {
    background-color: #563d7c;
    color: #fff;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
}

.table a {
    color: #007bff;
    text-decoration: none;
}

.table a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.btn {
    margin-right: 5px;
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.bg-dark {
    background-color: #343a40 !important; /* Fondo gris oscuro */
    color: #000 !important; /* Texto negro */
}

.card.bg-success {
    background-color: #28a745 !important; /* Verde */
    color: #000 !important; /* Texto negro */
}

.card.bg-warning {
    background-color: #ffc107 !important; /* Amarillo oscuro */
    color: #000 !important; /* Texto negro */
}

.card.bg-danger {
    background-color: #dc3545 !important; /* Rojo */
    color: #000 !important; /* Texto negro */
}

/* Transiciones suaves */
.btn, .nav-link, .card {
    transition: all 0.3s ease;
}

/* Efecto de sombra al pasar el mouse sobre las tarjetas */
.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
