.container {
    max-width: 800px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn-outline-secondary {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-group label {
    font-weight: bold;
    margin-top: 10px;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-outline-primary {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-add {
    width: 100%;
    justify-content: center;
}

.formset {
    background: #f9f9f9;
}

.btn-success {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
}

.list-group-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item h5 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.list-group-item small {
    color: #6c757d;
}
