body {
    padding-top: 0.1px; /* Ajustar según la altura de la navbar */
    background-color: #f5f378; /* Color de fondo del cuerpo */
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    color: #333;
}

.navbar.custom-navbar {
    background-color: #343a40; /* Color de fondo oscuro */
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.navbar.custom-navbar .navbar-nav .nav-link {
    color: #f5f378;
    transition: color 0.3s;
}

.navbar.custom-navbar .navbar-nav .nav-link:hover {
    color: #ffc107; /* Color de hover */
}

.navbar.custom-navbar .navbar-brand {
    color: #f5f378;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.navbar.custom-navbar .navbar-brand:hover {
    color: #ffc107; /* Color de hover */
}

.dropdown-menu {
    background-color: #343a40;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
    color: #f5f378;
    transition: color 0.3s;
}

.dropdown-menu .dropdown-item:hover {
    color: #ffc107;
}

.navbar-toggler {
    border-color: rgba(245, 243, 120, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245,243,120, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .nav-item {
    margin-left: 1rem;
}

@media (max-width: 1200px) {
    .navbar.custom-navbar .navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar.custom-navbar .navbar-nav .nav-item {
        flex: 0 0 45%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar.custom-navbar .navbar-brand {
        margin-bottom: 10px;
    }
    .navbar.custom-navbar .navbar-nav .nav-item {
        margin-bottom: 10px;
        margin-left: 0;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-collapse {
        text-align: center;
    }
}

.tooltip {
    z-index: 999;
}

/* Estilos adicionales */
.container {
    margin-top: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.btn-primary {
    background-color: #343a40;
    border-color: #343a40;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.alert {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #343a40;
    color: #f5f378;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #333333; /* Fondo negro */
    color: #f5f378; /* Texto amarillo */
    padding: 10px;
    text-align: center;
}
h2.card-title {
    color: #f5f378; /* Color del texto */}