<!-- myapp/templates/myapp/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'ver_perfil' %}">Perfil</a></li>
                <li><a href="{% url 'proyecto_list' %}">Proyectos</a></li>
                <li><a href="{% url 'listar_recursos' %}">Recursos</a></li>
                <li><a href="{% url 'listar_notificaciones' %}">Notificaciones</a></li>
                <li><a href="{% url 'listar_mensajes' %}">Mensajes</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    {% endif %}
    <main>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
