<!-- myapp/templates/myapp/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'ver_perfil' %}">Perfil</a></li>
                <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    {% endif %}
    <main>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
