<!-- myapp/templates/myapp/editar_perfil.html -->
{% extends 'myapp/base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<h1>Editar Perfil</h1>
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ perfil_form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}
{% endblock %}
