{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/editar_perfil.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@icon/entypo@1.0.3/entypo.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container bootstrap snippet mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="top-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ver_perfil' %}">Perfil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar Perfil</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">

            <!-- Perfil Form -->
            <div class="col-md-6">
                {{ perfil_form.nombre|as_crispy_field }}
                {{ perfil_form.apellido|as_crispy_field }}
                {{ perfil_form.telefono|as_crispy_field }}
                {{ perfil_form.fecha_nacimiento|as_crispy_field }}
                {{ perfil_form.avatar|as_crispy_field }}
                {{ perfil_form.website|as_crispy_field }}
                {{ perfil_form.twitter|as_crispy_field }}
                {{ perfil_form.facebook|as_crispy_field }}
                {{ perfil_form.linkedin|as_crispy_field }}
            </div>
        </div>
        {% if user_form.errors %}
            <div class="alert alert-danger">
                {{ user_form.errors }}
            </div>
        {% endif %}
        {% if perfil_form.errors %}
            <div class="alert alert-danger">
                {{ perfil_form.errors }}
            </div>
        {% endif %}
        {% if experiencia_formset.errors %}
            <div class="alert alert-danger">
                {{ experiencia_formset.errors }}
            </div>
        {% endif %}
        {% if educacion_formset.errors %}
            <div class="alert alert-danger">
                {{ educacion_formset.errors }}
            </div>
        {% endif %}
        
        <h3>Experiencia Laboral</h3>
        <div id="experiencia-formset">
            {{ experiencia_formset.management_form }}
            {% for form in experiencia_formset %}
                <div class="card mb-3">
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" id="add-experiencia">Agregar Experiencia</button>

        <h3>Educación</h3>
        <div id="educacion-formset">
            {{ educacion_formset.management_form }}
            {% for form in educacion_formset %}
                <div class="card mb-3">
                    <div class="card-body">
                        {{ form|crispy }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" id="add-educacion">Agregar Educación</button>

        <button type="submit" class="btn btn-success">Guardar Cambios</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        var experienciaFormCount = {{ experiencia_formset.total_form_count }};
        var educacionFormCount = {{ educacion_formset.total_form_count }};
        
        $('#add-experiencia').click(function() {
            var form_idx = experienciaFormCount;
            var formHtml = $('#empty_form_experiencia').html().replace(/__prefix__/g, form_idx);
            $('#experiencia-formset').append(formHtml);
            experienciaFormCount++;
        });
        
        $('#add-educacion').click(function() {
            var form_idx = educacionFormCount;
            var formHtml = $('#empty_form_educacion').html().replace(/__prefix__/g, form_idx);
            $('#educacion-formset').append(formHtml);
            educacionFormCount++;
        });
    });
</script>

{% include 'myapp/empty_form_experiencia.html' %}
{% include 'myapp/empty_form_educacion.html' %}
{% endblock %}
