<!-- myapp/templates/myapp/listar_notificaciones.html -->
{% extends 'myapp/base.html' %}

{% block title %}Notificaciones{% endblock %}

{% block content %}
<h1>Notificaciones</h1>
<ul class="list-group">
    {% for notificacion in notificaciones %}
    <li class="list-group-item">
        {{ notificacion.mensaje }} <em>{{ notificacion.fecha_creacion }}</em>
        <form method="post" action="{% url 'marcar_notificacion_leida' notificacion.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-success">Marcar como leída</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
