<!-- myapp/templates/myapp/listar_notificaciones.html -->
{% extends 'myapp/base.html' %}

{% block title %}Notificaciones{% endblock %}

{% block content %}
<h1>Notificaciones</h1>
<ul class="list-group">
    {% for notificacion in notificaciones %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ notificacion.mensaje }} - {{ notificacion.fecha_creacion }}
        {% if notificacion.leida %}
        <span class="badge badge-success">Leída</span>
        {% else %}
        <form method="post" action="{% url 'marcar_notificacion_leida' notificacion.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Marcar como leída</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
