<!-- myapp/templates/myapp/proyecto_list.html -->
{% extends 'myapp/base.html' %}

{% block title %}Lista de Proyectos{% endblock %}

{% block content %}
<h1>Lista de Proyectos</h1>
<form method="get" action=".">
    <div class="form-group">
        <input type="text" name="q" placeholder="Buscar proyectos" class="form-control">
    </div>
    <div class="form-group">
        <select name="filter_by" class="form-control">
            <option value="">Todos</option>
            <option value="mis_proyectos">Mis Proyectos</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<ul class="list-group mt-3">
    {% for proyecto in proyectos %}
    <li class="list-group-item">
        <a href="{% url 'proyecto_detail' proyecto.pk %}">{{ proyecto.nombre }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
