{% extends "myapp/base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Detalles del Proyecto{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'myapp/css/proyecto_detalle.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="mb-3">
        <a href="{% url 'proyecto_lista' %}" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            {{ proyecto.nombre }}
            {% if perms.myapp.change_proyecto %}
            <div class="btn-group" role="group" aria-label="Administrar Proyecto">
                <a href="{% url 'proyecto_edit' proyecto.id %}" class="btn btn-outline-warning">Editar</a>
                <a href="{% url 'confirmar_eliminar_proyecto' proyecto.id %}" class="btn btn-outline-danger">Eliminar</a>
                <a href="{% url 'listar_tareas' proyecto.id %}" class="btn btn-outline-info">Tareas</a>
                <a href="{% url 'gestionar_postulaciones' proyecto.id %}" class="btn btn-outline-primary">Gestionar Postulaciones</a>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            {% if proyecto.imagen %}
            <img src="{{ proyecto.imagen.url }}" alt="{{ proyecto.nombre }}" class="img-fluid mb-3">
            {% else %}
            <p>No hay imagen disponible.</p>
            {% endif %}
            <p class="card-text">{{ proyecto.descripcion }}</p>
            <hr>
            <p class="card-text"><strong>Fecha de Inicio:</strong> {{ proyecto.fecha_inicio }}</p>
            <p class="card-text"><strong>Fecha de Fin:</strong> {{ proyecto.fecha_fin }}</p>
            <p class="card-text"><strong>Ciudad:</strong> {{ proyecto.ciudad }}</p>
            <p class="card-text"><strong>Categoría:</strong> {{ proyecto.categoria }}</p>
            <div class="mt-4">
                <form method="post" action="{% url 'postular_proyecto' proyecto.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-block">Postular al Proyecto</button>
                </form>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="postulaciones-counter">
                Postulaciones: <span>{{ proyecto.postulaciones.count }}</span>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Comentarios
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for comentario in comentarios %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ comentario.autor.username }}</div>
                        {{ comentario.texto }}
                    </div>
                    <span class="badge bg-primary rounded-pill">{{ comentario.fecha_creacion|date:"d M Y, H:i" }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Agregar Comentario
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.texto|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Agregar Comentario</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
