<!-- myapp/templates/myapp/proyecto_list.html -->
{% extends 'myapp/base.html' %}

{% block title %}Lista de Proyectos{% endblock %}

{% block content %}
<h1>Lista de Proyectos</h1>
<form method="get" action=".">
    <input type="text" name="q" placeholder="Buscar proyectos">
    <select name="filter_by">
        <option value="">Todos</option>
        <option value="mis_proyectos">Mis Proyectos</option>
    </select>
    <button type="submit">Buscar</button>
</form>
<ul>
    {% for proyecto in proyectos %}
    <li>
        <a href="{% url 'proyecto_detail' proyecto.pk %}">{{ proyecto.nombre }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
