<!-- myapp/templates/myapp/ver_perfil.html -->
{% extends 'myapp/base.html' %}

{% block title %}Ver Perfil{% endblock %}

{% block content %}
<h1>Perfil de {{ user.username }}</h1>
<p>Nombre: {{ user.perfil.nombre }}</p>
<p>Apellido: {{ user.perfil.apellido }}</p>
<p>Email: {{ user.email }}</p>
<p>Teléfono: {{ user.perfil.telefono }}</p>
<p>Fecha de Nacimiento: {{ user.perfil.birth_date }}</p>
<img src="{{ user.perfil.avatar.url }}" alt="Avatar" width="100">
<a href="{% url 'editar_perfil' %}" class="btn btn-primary mt-3">Editar Perfil</a>
<a href="{% url 'cambiar_password' %}" class="btn btn-secondary mt-3">Cambiar Contraseña</a>
<a href="{% url 'historial_actividades' %}" class="btn btn-info mt-3">Historial de Actividades</a>
{% endblock %}
